body {
  margin: 0;
  padding: 0;
}

.social-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#socialButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #215bfb;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#socialButton span {
  display: block;
  margin-top: 0px;
}

.social-icons {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 0;
}

.social-icons a {
  display: inline-block;
  margin: 0 5px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: appearAnimation 0.5s forwards;
}
@keyframes appearAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.social-icons .icon {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}