#courses2 {
	
}
.invite_div {
	position: relative;
	width: 800px;
	height: 500px;
	margin-left: 60px;
	top: -200px;
	border: 8px solid #433EFF;
}

.first_heading {
	width: 700px;
	text-align: left;
	margin-left: 30px;
	margin-top: 40px;
	font-size: 50px;
	margin-bottom: 500px;
}
.second_word {
	position: relative;
	text-align: left;
	width: 700px;
	font-size: 50px;
	margin-left: 30px;
	top: -490px;
	color: #433EFF;
}
#title_footers2 {
	position: relative;
	top: -810px;
}
@keyframes vibration {
	0% { transform: translate(0, 0); }
	25% { transform: translate(-5px, -5px); }
	50% { transform: translate(5px, 5px); }
	75% { transform: translate(-5px, 5px); }
	100% { transform: translate(5px, -5px); }
}

.blue_ball {
	position: relative;
	width: 150px;
	height: 150px;
	background-color: #433EFF;
	border-radius: 50%;
	top: -540px;
	left: 300px;
}

.invite_div:hover .blue_ball {
	animation: vibration 0.5s infinite alternate;
}

.cursor_image {
	position: relative;
	width: 200px;
	top: -580px;
	left: 450px;
	transition: top 0.5s ease, left 0.5s ease; /* добавляем переход для свойства top и left */
}

.invite_div:hover .cursor_image {
	top: -640px;
	left: 400px; /* Сдвигаем картинку курсора наискосок при наведении */
}
.portfolio2 {
	position: relative;
	top: 50px;
	margin-left: 70px;
	font-size: 115px;
	font-weight: 500;
}
.portfolio2_desc {
	position: relative;
	width: 1500px;
	font-size: 30px;
	margin-left: 70px;
}

.portfolio2_desc::before {
	content: "";
	position: absolute;
	top: 0;
	left: -20px; /* Расположение линии слева от текста */
	width: 4px; /* Ширина линии */
	height: 100%; /* Высота линии будет равна высоте блока с текстом */
	background-color:#433EFF; /* Цвет линии */
}
@media screen and (max-width: 1024) {
	.portfolio2_desc {
		width: 500px;
		font-size: 20px;
	}
}