* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	box-sizing: border-box;
}

:root {
	--color-primary: #433EFF;
	--color-success: #00bf8e;
	--color-warning: #f7c94b;
	--color-danger: #433EFF;
	--color-danger-variant: rgba(247, 88, 66, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.7);
	--color-black: #000;
	--color-bg: #1e0c45;
	--color-bg1: #141414;
	--color-bg2: #1c1c1c;

	--container-width-lg: 80%;
	--container-width-md: 90%;
	--container-width-sm: 94%;

	--transition: all 400ms ease;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	color: var(--color-white);
	background-image: url('../images/—Pngtree—noise abstract texture dark gray_1575837.png');
	background-color: var(--color-bg);
	overflow-x: hidden;
}

.header__left {
	text-align: center;
	position: relative;
	right: -430px;
}

@media screen and (min-width: 375px) {
	.logo {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 1080px) {
	.header__left {
		position: relative;
		text-align: center;
		right: -0px;
	}
}
li {
	list-style-type: none; /* Убираем маркеры */
}
.ouraprouch {
	font-size: 100px;
	margin-left: 80px;
}

.dedicated {
	font-size: 75px;
}
.paragraph_start {
	font-size: 30px;
}
.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

section {
	padding: 6rem 0;
}

section h2 {
	text-align: center;
	margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h1 {
	font-size: 2.4rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.3rem;
}

a {
	color: var(--color-white);
	text-align: center;
	font-size: 19px;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}
#logo_footer {
	position: relative;
	top: -50px;
	width: 30%;
	height: 10%;
	display: flex;
	object-fit: cover;
}
.footer__1 {
	height: 10px;
}
.btn {
	display: inline-block;
	background: var(--color-white);
	color: var(--color-black);
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 500;
	transition: var(--transition);
}

.btn:hover {
	background: transparent;
	color: var(--color-white);
	border-color: var(--color-white);
}

.btn-primary {
	background: var(--color-danger);
	color: var(--color-white);
	width: 300px;
	height: 80px;
	margin-bottom: 20px;
}

/* =================== NAVBAR ===================== */
nav {
	background: transparent;
	width: 100vw;
	height: 5rem;
	position: fixed;
	top: -100px;
	z-index: 11;
	transition: top 0.4s; /* Анимация смены положения */
}

.nav-show {
	top: 0; /* Показываем навигационное меню сверху */
}
/* change navbar styles on scroll using javascript */
.window-scroll {
	background-color: #141414;
}

.nav__container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav button {
	display: none;
}

.nav__menu {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.nav__menu a {
	font-size: 0.9rem;
	transition: var(--transition);
}

.nav__menu a:hover {
	color: var(--color-bg2);
}

/* =================== HEADER ===================== */
header {
	position: relative;
	top: 5rem;
	overflow: hidden;
	height: 70vh;
	margin-bottom: 5rem;
}

.header__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 5rem;
	height: 100%;
}

.header__left p {
	margin: 1rem 0 2.4rem;
}

/* =================== CATEGORIES ===================== */
.categories {
	background: var(--color-bg1);
	height: 40rem;
}

.categories h1 {
	line-height: 1;
	margin-bottom: 3rem;
}

.categories__container {
	display: grid;
	grid-template-columns: 40% 60%;
}

.categories__left {
	margin-right: 4rem;
}

.categories__left p {
	margin: 1rem 0 3rem;
}

.categories__right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.2rem;
}

.category {
	background: var(--color-bg2);
	padding: 2rem;
	border-radius: 2rem;
	transition: var(--transition);
}

.category:hover {
	box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.category:nth-child(2) .category__icon {
	background: var(--color-danger);
}

.category:nth-child(3) .category__icon {
	background: var(--color-success);
}

.category:nth-child(4) .category__icon {
	background: var(--color-warning);
}

.category:nth-child(5) .category__icon {
	background: var(--color-success);
}

.category__icon {
	background: var(--color-primary);
	padding: 0.7rem;
	border-radius: 0.9rem;
}

.category h5 {
	margin: 2rem 0 1rem;
}

.category p {
	font-size: 0.85rem;
}

/* =================== POPULAR COURSES ===================== */
.courses {
	margin-top: 10rem;
}

.courses__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.course {
	background: var(--color-bg1);
	text-align: center;
	border: 1px solid transparent;
	transition: var(--transition);
}

.course:hover {
	background: transparent;
	border-color: var(--color-primary);
}

.course__info {
	padding: 2rem;
}

.course__info p {
	margin: 1.2rem 0 2rem;
	font-size: 0.9rem;
}

/* =================== FAQs ===================== */
.faqs {
	background: var(--color-bg1);
	box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.faq {
	padding: 2rem;
	display: flex;
	align-items: center;
	gap: 1.4rem;
	height: fit-content;
	background: var(--color-primary);
	cursor: pointer;
}

.faq h4 {
	font-size: 1rem;
	line-height: 2.2;
}

.faq__icon {
	align-self: flex-start;
	font-size: 1.2rem;
}

.faq p {
	margin-top: 0.8rem;
	display: none;
}

.faq.open p {
	display: block;
}

/* =================== TESTIMONIALS ===================== */
.testimonials__container {
	overflow-x: hidden;
	position: relative;
	margin-bottom: 5rem;
}

.testimonial {
	padding-top: 2rem;
}

.avatar {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 1rem;
	border: 1rem solid var(--color-bg1);
}

.testimonial__info {
	text-align: center;
}

.testimonial__body {
	background: var(--color-primary);
	padding: 2rem;
	margin-top: 3rem;
	position: relative;
}

.testimonial__body::before {
	content: '';
	display: block;
	background: linear-gradient(
		135deg,
		transparent,
		var(--color-primary),
		var(--color-primary),
		var(--color-primary)
	);
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 50%;
	top: -1.5rem;
	transform: rotate(45deg);
}

/* =================== FOOTER ===================== */
footer {
	background: var(--color-bg1);
	padding-top: 2rem;
	font-size: 0.9rem;
	height: 3px;
	border-top: 1px solid rgb(67, 67, 67);
}

.footer__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.footer__container > div h4 {
	margin-bottom: 1.2rem;
}

.footer__1 p {
	margin: 0 0 2rem;
}

footer ul li {
	margin-bottom: 0.7rem;
}

footer ul li a:hover {
	text-decoration: underline;
}

.footer__socials {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	margin-top: 2rem;
}

.footer__copyright {
	text-align: center;
	margin-top: 9rem;
	padding: 1.2rem 0;
}
/* ===================== MEDIA QUERIES (TABLETS) ==================== */
.container {
	width: var(--container-width-md);
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 2.5rem;
}

/* ====================== NAVBAR ===================== */
/* Общие стили для кнопок */
nav button {
	display: inline-block;
	background: transparent;
	font-size: 1.8rem;
	color: var(--color-white);
	cursor: pointer;
}

/* Скрыть кнопку закрытия меню на мобильных устройствах */
nav button#close-menu-btn {
	display: none;
}

/* Стили для меню */
.nav__menu {
	position: fixed;
	top: 5rem;
	right: 5%;
	height: fit-content;
	width: 18rem;
	flex-direction: column;
	gap: 0;
	display: none;
}

/* Анимация для пунктов меню */
.nav__menu li {
	width: 100%;
	height: 5.8rem;
	animation: animateNavItems 400ms linear forwards;
	transform-origin: top right;
	opacity: 0;
}

.nav__menu li:nth-child(2) {
	animation-delay: 200ms;
}

.nav__menu li:nth-child(3) {
	animation-delay: 400ms;
}

.nav__menu li:nth-child(4) {
	animation-delay: 600ms;
}

@keyframes animateNavItems {
	0% {
		transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
	}

	100% {
		transform: rotateZ(0) rotateX(0) scale(1);
		opacity: 1;
	}
}

/* Стили для ссылок в меню */
.nav__menu li a {
	background: var(--color-primary);
	box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

/* При наведении на ссылки меню */
.nav__menu li a:hover {
	background: var(--color-bg2);
	color: var(--color-white);
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 1024px) {
	nav button {
		/* Стили кнопок такие же, как и в общих стилях */
	}

	nav button#close-menu-btn {
		display: none; /* Скрыть кнопку закрытия меню */
	}

	/* ====================== HEADER ===================== */
	header {
		height: 52vh;
		margin-bottom: 4rem;
	}

	.header__container {
		gap: 0;
		padding-bottom: 3rem;
	}

	/* ====================== CATEGORIES ===================== */
	.categories {
		height: auto;
	}

	.categories__container {
		grid-template-columns: 1fr;
		gap: 3rem;
	}

	.categories__left {
		margin-right: 0;
	}

	/* ====================== POPULAR COURSES ===================== */
	.courses {
		margin-top: 0;
	}

	.courses__container {
		grid-template-columns: 1fr 1fr;
	}

	/* ====================== FAQs ===================== */
	.faqs__container {
		grid-template-columns: 1fr;
	}

	.faq {
		padding: 1.5rem;
	}

	/* ====================== FOOTER ===================== */
	.footer__container {
		grid-template-columns: 1fr 1fr;
	}
}

/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
	.container {
		width: var(--container-width-sm);
	}

	/* ====================== NAVBAR ===================== */
	.nav__menu {
		right: 3%;
	}

	/* ====================== HEADER ===================== */
	header {
		height: 100vh;
	}

	.header__container {
		grid-template-columns: 1fr;
		text-align: center;
		margin-top: 0;
	}

	.header__left p {
		margin-bottom: 1.3rem;
	}

	/* ====================== CATEGORIES ===================== */
	.categories__right {
		grid-template-columns: 1fr 1fr;
		gap: 0.7rem;
	}

	.category {
		padding: 1rem;
		border-radius: 1rem;
	}

	.category__icon {
		margin-top: 4px;
		display: inline-block;
	}

	.categories {
		margin-top: 260px;
	}

	/* ====================== POPULAR COURSES ===================== */
	.courses__container {
		grid-template-columns: 1fr;
	}

	/* ====================== TESTIMONIALS ===================== */
	.testimonial__body {
		padding: 1.2rem;
	}

	/* ====================== FOOTER ===================== */
	.footer__container {
		grid-template-columns: 1fr;
		text-align: center;
		gap: 2rem;
	}

	.footer__1 p {
		margin: 1rem auto;
	}

	.footer__socials {
		justify-content: center;
	}
	.footer__logo {
		position: relative;
		right: 200px;
		width: 20px;
	}
	.dot {
		border-radius: 50%;
		color: #433EFF;
		margin-left: 1000;
	}
}
/* ====================== LANGUAGE BUTTON ===================== */

.switch {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}

.switch > span {
	position: absolute;
	top: 14px;
	pointer-events: none;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	width: 50%;
	text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
	color: #f36f25;
}

input.check-toggle-round-flat:checked ~ .on {
	color: #fff;
}

.switch > span.on {
	left: 0;
	padding-left: 2px;
	color: #f36f25;
}

.switch > span.off {
	right: 0;
	padding-right: 4px;
	color: #fff;
}

.check-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.check-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.check-toggle-round-flat + label {
	padding: 2px;
	width: 97px;
	height: 40px;
	background-color: #433EFF;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: '';
}

input.check-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #433EFF;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 48px;
	background-color: #fff;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
	margin-left: 44px;
}

.scrollable::-webkit-scrollbar {
	width: 5px; /* Ширина панели прокрутки */
}
.scrollable::-webkit-scrollbar-track {
	background: #151515; /* Цвет фона панели прокрутки */
}

.scrollable::-webkit-scrollbar-thumb {
	background: #433EFF; /* Цвет ползунка панели прокрутки */
}
.scrollable-content p {
	font-size: 10px; /* Размер шрифта */
}

.title_footer {
	color: #433EFF;
	font-size: 55px;
	font-weight: 500;
	margin-top: 50px; /* Опускаем элемент на 30 пикселей вниз */
	margin-left: 50px;
	margin-right: 30px;
	width: 600px;
}

.title_footer2 {
	color: #ffffff;
	font-size: 55px;
	font-weight: 500;
	margin-top: 30px; /* Опускаем элемент на 30 пикселей вниз */
	margin-left: 50px;
	margin-right: 30px;
	width: 600px;
}
.title_footers {
	position: absolute;
	top: 2800px;
	margin-top: 10px;
}

.portfolio {
	position: relative;
	top: 20px;
	font-size: 90px;
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
	.portfolio {
		font-size: 60px; /* Уменьшаем размер шрифта */
	}
}

@media screen and (max-width: 576px) {
	.portfolio {
		font-size: 40px; /* Дополнительное уменьшение размера шрифта для более маленьких экранов */
	}
}

.title_footer3 {
	color: #ffffff;
	font-size: 25px;
	margin-top: 40px; /* Опускаем элемент на 30 пикселей вниз */
	margin-left: 50px;
	margin-right: 20px;
	width: 600px;
}
.scrollable {
	margin-top: 140px;
}
/* Добавляем стили для мобильных устройств */
@media (max-width: 768px) {
	.title_footer {
		font-size: 40px;
		width: auto;
		margin: 30px 20px;
	}

	.title_footer2,
	.title_footer3 {
		font-size: 30px;
		width: auto;
		margin: 20px;
	}
}
body {
	margin: 0;
	height: 100vh;
	background: rgb(20, 20, 20);
}

.cursor {
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	animation: cursorAnim 0.5s infinite alternate;
	pointer-events: none;
}

.cursor::after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	border: 8px solid gray;
	border-radius: 50%;
	opacity: 0.5;
	top: -8px;
	left: -8px;
	animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.7);
	}
}

@keyframes cursorAnim2 {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.4);
	}
}

@keyframes cursorAnim3 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.expand {
	animation: cursorAnim3 0.5s forwards;
	border: 1px solid rgb(67, 107, 238);
}
/* Стилизация ползунка прокрутки для Chrome, Safari, и Opera */
body::-webkit-scrollbar {
	width: 10px; /* Ширина ползунка */
}

body::-webkit-scrollbar-thumb {
	background-color: #433EFF; /* Цвет ползунка */
}

body::-webkit-scrollbar-track {
	background-color: #151515; /* Цвет трека прокрутки */
}
.portfolio {
	position: relative;
	top: 20px;
	font-size: 90px;
	margin-left: 10px;
}
.portfolio_border {
	position: relative;
	top: -150px;
	color: #151515;
	font-size: 90px;
	margin-right: 1200px;
	text-shadow: -1px -1px 0 #858484, 1px -1px 0 #858484, -1px 1px 0 #858484,
		1px 1px 0 #858484;
}
.portfolio_border2 {
	position: relative;
	top: -320px;
	color: #151515;
	font-size: 90px;
	margin-left: 1150px;
	text-shadow: -1px -1px 0 #858484, 1px -1px 0 #858484, -1px 1px 0 #858484,
		1px 1px 0 #858484;
}
@media screen and (max-width: 1080px) {
	.portfolio_border,
	.portfolio_border2 {
		display: none; /* Скрыть элементы */
	}
}
@media screen and (max-width: 1080px) {
	.ouraprouch {
		font-size: 40px;
	}
}
@media screen and (max-width: 1080) {
	.budget_article {
		align-items: center;
	}
}
@media screen and (max-width: 1080) {
	.scrollable {
		position: absolute;
		left: 200px;
		width: 500px;
		height: 500px;
	}
}
@media screen and (max-width: 1080) {
	.title_footers {
		font-size: 5px;
		margin-left: 10px;
		margin-bottom: 100px;
		margin-top: 0;
		padding-top: 0;
	}
}
.title_footers {
	margin-top: 10;
	padding-top: 0;
}
@media screen and (max-width: 1080) {
	.categories {
		margin-top: 300px;
	}
}
.courses__container {
	margin-top: -350px;
}
#scrollToTopBtn {
	width: 100px;
}
.scrollable {
	margin-top: 200px;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

.pulse {
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.pulse:hover {
	animation-name: none;
	animation-fill-mode: forwards;
}

.pulse:hover {
	animation: zoom 0.3s ease-in-out forwards;
}
/* Скрыть модальное окно по умолчанию */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden; /* Отключение прокрутки */
	background-color: rgba(21, 21, 21, 0); /* Начальная прозрачность */
	animation-name: fadeIn; /* Название анимации */
	animation-duration: 0.5s; /* Длительность анимации */
	animation-fill-mode: forwards; /* Сохранение последнего состояния анимации */
}

@keyframes fadeIn {
	from {
		/* Начальное состояние */
		background-color: rgba(21, 21, 21, 0); /* Прозрачность 0 */
	}
	to {
		/* Конечное состояние */
		background-color: rgba(21, 21, 21, 0.8); /* Прозрачность 70% */
	}
}

/* Оформление содержимого модального окна */
.modal-content {
	background-color: #171717;
	margin: 10% auto;
	padding: 20px;
	width: 35%;
	height: 70%;
	overflow: hidden; /* Отключение прокрутки */
}
.placeholder_title {
	text-align: center;
	font-size: 35px;
	padding-bottom: 50px;
}
/* Закрывающая кнопка */
.close {
	color: #ffffff;
	float: right;
	font-size: 40px;
	font-weight: bold;
}
.submit__button {
	display: flex;
	background-color: #433EFF;
	color: white;
	width: 500px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 550;
	height: 80px;
	justify-content: center;
	margin-left: 30px;
	margin-bottom: 30px;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}
.submit__button:hover {
	border: 1px solid white;
	background-color: #141414;
}
input[type='text'],
input[type='email'],
input[type='tel'] {
	border: none;
	border-bottom: 1px solid #505050;
	background-color: transparent;
	padding: 5px 0;
	margin: 10px auto; /* Центрирование по горизонтали */
	width: 80%;
	box-sizing: border-box;
	font-size: 20px;
	display: block; /* Превращаем в блочный элемент */
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus {
	outline: none;
	border-color: rgb(255, 255, 255);
}
::-webkit-input-placeholder {
	/* Chrome, Safari, Opera */
	color: white;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: white;
}
.file-upload-label {
	margin-left: 300px;
	position: relative;
	color: #433EFF;
	top: -28px;
}
.file-instruction {
	margin-left: 55px;
}
.idea_image {
	width: 150px;
	position: absolute;
	height: 150px;
	margin-left: 930px;
	opacity: 0; /* Установка нулевой прозрачности для начального скрытого состояния */
	transition: opacity 0.5s ease; /* Плавная анимация изменения прозрачности */
	top: 830px;
}

.budget_article {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease;
	text-align: right; /* Выравнивание текста по правому краю */
	word-wrap: break-word; /* Разрыв строк при необходимости */
	max-width: 700px; /* Максимальная ширина текста */
	margin: 0 auto; /* Центрирование текста по горизонтали */
	font-weight: 400;
	font-size: 25px;
	margin-left: 1100px;
	margin-right: 35px;
	top: 870px;
}
@media screen and (max-width: 1080px) {
	.budget_article,
	.idea_image{
		position: absolute;
		top: 2200px;
		left: -930px;
		font-size: 30px;
	}
}
.deadline_image {
	width: 150px;
	position: absolute;
	height: 150px;
	margin-left: 930px;
	top: 1100px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.deadline_article {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease;
	text-align: right; /* Выравнивание текста по правому краю */
	word-wrap: break-word; /* Разрыв строк при необходимости */
	max-width: 700px; /* Максимальная ширина текста */
	margin: 0 auto; /* Центрирование текста по горизонтали */
	font-weight: 400;
	font-size: 25px;
	margin-left: 1100px;
	margin-right: 35px;
	top: 1100px;
}
@media screen and (max-width: 1080px) {
	.deadline_article,
	.deadline_image {
		position: absolute;
		top: 1900px;
		left: -930px;
		font-size: 30px;
	}
}
.launch_image {
	width: 150px;
	position: absolute;
	height: 150px;
	margin-left: 930px;
	top: 1330px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.launch_article {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease;
	text-align: right; /* Выравнивание текста по правому краю */
	word-wrap: break-word; /* Разрыв строк при необходимости */
	max-width: 700px; /* Максимальная ширина текста */
	margin: 0 auto; /* Центрирование текста по горизонтали */
	font-weight: 400;
	font-size: 25px;
	margin-left: 1125px;
	margin-right: 35px;
	top: 1330px;
}
@media screen and (max-width: 1080px) {
	.launch_article,
	.launch_image {
		position: absolute;
		top: 1300px;
		left: -950px;
		font-size: 30px;
	}
}

@media screen and (max-width: 1080px) {
	.launch_article {
		position: absolute;
		top: 1300px;
		left: -1000px;
		font-size: 30px;
	}
}
.piggy_image {
	width: 150px;
	position: absolute;
	height: 150px;
	margin-left: 930px;
	top: 1560px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.piggy_article {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease;
	text-align: right; /* Выравнивание текста по правому краю */
	word-wrap: break-word; /* Разрыв строк при необходимости */
	max-width: 700px; /* Максимальная ширина текста */
	margin: 0 auto; /* Центрирование текста по горизонтали */
	font-weight: 400;
	font-size: 25px;
	margin-left: 1100px;
	margin-right: 35px;
	top: 1560px;
}

@media screen and (max-width: 1080px) {
	.piggy_article,
	.piggy_image {
		position: absolute;
		top: 1600px;
		left: -930px;
		font-size: 30px;
	}
}
.courses {
	margin-top: 400px;
}

@media screen and (max-width: 1080px) {
	.courses {
		margin-top: 1500px;
	}
}

@media screen and (max-width: 1080px) {
	.portfolio {
			position: relative;
			margin-bottom: 400px;
			font-size: 40px;
		}
	}

	@media screen and (max-width: 1080px) {
		.title_footers {
			display: none;
			}
		}

		@media screen and (max-width: 1080px) {
			.scrollable {
				width: 80%;
				}
			}
			@media screen and (max-width: 1080px) {
				.categories {
					padding-top: 100px;
					}
				}
				@media screen and (max-width: 1080px) {
					.header__left {
						position: absolute;
						text-align: center;
						}
					}
					
					@media screen and (max-width: 1080px) {
						.modal-content {
							width: 80%;
							}
						}
						@media screen and (max-width: 430px) {
							.modal-content {
								width: 70%;
								height: 80%;
								}
							}

						@media screen and (max-width: 1080px) {
							.submit__button{
								margin-left: 50px;
								}
							}
						
							@media screen and (max-width: 430px) {
								.submit__button{
									width: 70%;
									}
								}

								@media screen and (max-width: 390px) {
									.submit__button{
										width: 60%;
										}
									}

									@media screen and (max-width: 390px) {
										.modal-content {
											width: 70%;
											height: 90%;
											}
										}
										@media screen and (max-width: 375px) {
											.modal-content {
												width: 70%;
												height: 100%;
												}
											}

											@media screen and (min-width: 1024px) {
												.ouraprouch{
													font-size: 100px;
													}
												}

												@media screen and (min-width: 768px) {
													.ouraprouch{
														font-size: 100px;
														}
													}

													@media screen and (min-width: 768px) {
														.ouraprouch{
															font-size: 100px;
															}
														}
														@media screen and (min-width: 390px) {
															.ouraprouch{
																position: relative;
																top: -100px;
																}
															}

													@media screen and (min-width: 390px) {
														.dedicated{
															font-size: 60px;
															}
														}
												
												
.attachment-icon {
	width: 20px;
	height: 20px;
	filter: invert(30%) sepia(92%) saturate(1050%) hue-rotate(194deg)
		brightness(100%) contrast(100%);
}
.attachment-icon {
	margin-left: 460px;
	position: absolute;
	top: 605px;
}
.btn-primary2 {
	background-color: #433EFF;
	color: white;
	height: 5rem;
	width: 430px;
	margin-left: 50px;
	margin-top: 60px;
}
.email {
	font-weight: 400;
	margin-left: 100px;
	margin-top: 60px;
	font-size: 30px;
}
.email_icon {
	position: relative;
	top: -30px;
	width: 30px;
	height: 30px;
	margin-left: 50px;
}

.location {
	font-weight: 400;
	margin-left: 100px;
	margin-top: 60px;
	font-size: 30px;
}
.location_icon {
	position: relative;
	top: -30px;
	width: 30px;
	height: 30px;
	margin-left: 50px;
}
@media screen and (max-width: 1080) {
	.scrollable {
		width: 10%;
	}
}

@media screen and (max-width: 1080) {
	.cursor {
		cursor: none;
		display: none;
	}
}
.courses__container {
	padding-bottom: 150px;
}
.go_top {
	margin-bottom: 10px;
	margin-left: 12px;
}
.logo {
	position: relative;
	right: 200px;
	margin-top: 150px;
	width: 600px;
	height: 500px;
}
/* ---- reset ---- */

canvas {
	display: block;
	vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #141414;
	background-image: url('');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
} /* ---- stats.js ---- */
.js-count-particles {
	font-size: 1.1em;
}
#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}
#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.count-particles {
	border-radius: 0 0 3px 3px;
}
